/* Font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

/* Colors */
:root{

    /* Primary */
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green:hsl(150,100%,66%);
    /* Neutral */
--Dark-Blue: hsl(218,23%,16%);
    --Grayish-Blue: hsl(217,19%,38%);
    --Dark-Grayish-Blue: hsl(217,19%,24%);

}

/* Universal Selector */
*{
   font-family: 'Manrope', sans-serif;
   box-sizing: border-box;
   padding: 0;
   margin:0;
}

/* Html, Body */
html, body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
body{
    background-color: var(--Dark-Blue);
}

/* Advice Card*/
.advice-card{
    width: 500px;
    background-color: var(--Dark-Grayish-Blue);
    border-radius: 1rem;
    position: relative;
}

/* Card Container */
.card-container{
    padding-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    gap: 2rem;
}


/* Advice Text */
p{
    color:var(--Neon-Green);
    text-transform:uppercase;
    letter-spacing: 4px;
    font-size: 12px;
}

h2{
    color: var(--Light-Cyan);
    font-size: 28px;
}

/* Picture */
picture img{
    margin-bottom: 1rem;
}

/* Button */
button{
    margin-bottom: -30px;
    background-color: var(--Neon-Green);
    border: none;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    box-shadow: 0 0 40px var(--Neon-Green);
    transition: all 0.2s ease-out;
}

/* Media Queries */
@media screen and (max-width: 500px) {
    .advice-card{
        width: 350px;
    }
    
}
@media (min-width: 530px) {
    main{
        margin: auto;
    }
}

/* Footer */
.footer-webpage{
    display: inline-block;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    bottom:0;
    margin: 0;
    padding: 0;
    position:absolute;
}

/* Attribution */
.attribution { 
    padding: 0;
    height: 15px;
    font-size: 10px;
    margin-top: 35px;
    text-align: center;
    background-color: var(--Dark-Grayish-Blue);
    color: var(--Light-Cyan);
} 
.attribution a { 
    color: var(--Neon-Green); 
}

